@import url('./_reset.scss');
@import url('./_vars.scss');
@import url('./_fonts.scss');

.status_working {
  text-align: center;
  span {
    color: #fff;
  }
  &:has(span[data-status='working']) {
    background-color: var(--color-green);
  }
  &:has(span[data-status='not_working']) {
    background-color: var(--color-red);
  }
}

a {
  color: var(--color-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-black);
}
