.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;

  .content {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-content);
    padding: 40px;
    overflow-y: auto;
    position: relative;
    order: 1;

    @media (max-width: 1265px) {
      position: static;
      padding: 20px;
    }
  }
}
