.button {
  font-family: 'Poppins-SemiBold';
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: 1px solid var(--color-gray);
  transition: scale 100ms ease-in-out;
  transition: outline 100ms ease-in-out;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.red {
    color: #fff;
    background-color: var(--color-red);
  }

  &.blue {
    color: #fff;
    background-color: var(--color-blue);
  }

  &.green {
    color: #fff;
    background-color: var(--color-green);
  }

  &.sm {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    padding: 10px 14px;

    @media (max-width: 600px) {
      font-size: 8px;
      padding: 6px 10px;
    }
  }

  &.md {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    padding: 14px 18px;

    @media (max-width: 600px) {
      font-size: 12px;
      padding: 10px 14px;
    }
  }

  &.lg {
    font-family: 'Poppins-SemiBold';
    font-size: 20px;
    padding: 18px 22px;

    @media (max-width: 600px) {
      font-size: 16px;
      padding: 14px 18px;
    }
  }

  .white {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &:hover {
    scale: 1.05;
    outline: 2px solid var(--color-blue);
  }

  &:focus {
    outline: 2px solid var(--color-blue);
  }
}
