.cardInfo {
  width: 370px;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 19px;
  background-color: var(--color-white);
  border-radius: 25px;

  .cardInfoLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    .cardInfoIcon {
      position: absolute;
      top: -58px;
      font-size: 50px;
      animation: iconName 1.5s ease-out forwards;
    }
  }

  .cardInfoRight {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    margin-left: 20px;

    .cardInfoTitle {
      font-family: 'Poppins-Medium';
      font-size: 18px;
      color: #50658a;
    }
    
    .cardInfoValue {
      color: var(--color-black);
      font-family: 'Poppins-SemiBold';
      font-size: 25px;
    }
  }

  &.bonus {
    .cardInfoLeft {
      background-color: #bbe7e4;
      .cardInfoIcon {
        color: #00a999;
      }
    }
  }

  &.penalty {
    .cardInfoLeft {
      background-color: #e5bbc9;
      .cardInfoIcon {
        color: #c55479;
      }
    }
  }

  &.workingHours {
    .cardInfoLeft {
      background-color: #c7cfe9;
      .cardInfoIcon {
        color: #1e43b5;
      }
    }
  }
}

@keyframes iconName {
  0% {
    top: -58px;
  }
  50% {
    transform: rotate(45deg);
    top: 18px;
  }
  100% {
    transform: rotate(360deg);
    top: 18px;
  }
}
