.wrapper {
  width: 100%;
  overflow: auto;
  padding-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--color-white);
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;

  thead {
    color: var(--color-black);
    border-bottom: 1px solid #ddd;

    th {
      font-family: 'Poppins-SemiBold';
      padding: 24px;
      font-size: 16px;
      color: var(--color-black);
      @media (max-width: 600px) {
        padding: 10px;
        font-size: 11px;
      }
    }
  }

  tbody {
    td {
      padding: 14px 18px;
      border-bottom: 1px solid #ddd;
      min-width: 100px;

      @media (max-width: 600px) {
        padding: 9px 13px;
      }
    }
  }

  th,
  td {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    line-height: 20px;
    border-right: 1px solid #ddd;
    color: var(--color-black);
    &:last-child {
      border-right: none;
    }

    @media (max-width: 600px) {
      font-size: 11px;
      line-height: 15px;
    }
  }
}
