.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  .title {
    color: var(--color-black);
    font-family: 'Poppins-Medium';
    font-size: 28px;
    
    @media (max-width: 600px) {
      font-size: 23px;
    }
  }

  .headerButtons {
    display: flex;
    column-gap: 20px;
  }
}

.statusWorking {
  width: max-content;
  padding: 10px;
  border-radius: 4px;
  color: var(--color-white);
  &[data-status='enter'] {
    background-color: var(--color-green);
  }
  &[data-status='exit'] {
    background-color: var(--color-red);
  }
}
